/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #353535;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  margin-bottom: 150px;
}

header div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

header div span {
  display: block;
  text-align: center;
}

.logo-1 {
  align-items: flex-start;
  align-self: flex-start;
}

.logo-2 {
  font-size: 50px;
  font-weight: bold;
  margin-left: -15px;
  align-items: flex-start;
}

.logo-3 {
  letter-spacing: 20px;
}


.job-posts-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #F1F1F1;
}

.job-posts-container img {
  width: 100%;
  margin-bottom: 20px;
}

.job-posts-container h2 {
  margin-bottom: 20px;
}

.job-posts-container .company {
  margin-bottom: 20px;
}

.job-posts-container skills {
  margin-bottom: 20px;
}

.job-posts-container a {
  text-decoration: none;
  background-color: #353535;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
}

.job-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #F1F1F1;
  margin-top: 150px;
  borderRadius: 20px;
  overflow: hidden;
}



.job-container img {
  width: 100%;
  margin-bottom: 20px;
}

.job-container h2 {
  margin-bottom: 20px;
}

.job-container .company {
  margin-bottom: 20px;
}

.job-container skills {
  margin-bottom: 20px;
}

.job-container a {
  text-decoration: none;
  background-color: #353535;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
}

